.btn-file {
	position : relative;
	overflow : hidden;
}

.btn-file input[type=file] {
	position : absolute;
	top : 0;
	right : 0;
	min-width : 100%;
	min-height : 100%;
	font-size : 10px;
	text-align : right;
	filter : alpha(opacity=0);
	opacity : 0;
	outline : none;
	background : white;
	cursor : inherit;
	display : block;
}

.file {
	visibility : hidden;
	position : absolute;

}

img {
    width: 120px;
    height:120px;
    border-radius: 60px; /* 반경 : 이미지 반 크기*/
} 


#radius-box {
    width: 120px;
    height: 120px;
    border-radius: 150px; /* 반경 : 레이어 반 크기*/    
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
