.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 12px;
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}



@media screen and (max-width: 1680px) {

	#main > .inner {
		padding: 0 30% 0.1em 30% ;
	}

		#main > .inner > section {
			padding: 4em 0 2em 0 ;
		}

}

@media screen and (max-width: 1280px) {

	#main > .inner {
		padding: 0 25% 0.1em 25% ;
	}

		#main > .inner > section {
			padding: 4em 0 2em 0 ;
		}

}

@media screen and (max-width: 736px) {

	#main > .inner {
		padding: 0 3em 0.1em 3em ;
	}

		#main > .inner > section {
			padding: 4em 0 2em 0 ;
		}

}

@media screen and (max-width: 480px) {

	#main > .inner {
		padding: 0 2em 0.1em 2em ;
	}

		#main > .inner > section {
			padding: 4em 0 2em 0 ;
		}
	
	#snsLoginImg > #googleImg > img {
		width : 270px;
	}
	
	#snsLoginImg > #naverImg > img {
		width : 260px;
	}
	
	#snsLoginImg > #kakaoImg > img {
		width : 260px;
	}
}